<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>melon-admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewAuthorizationManageServlet</display-name>
    <servlet-name>ViewAuthorizationManageServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.ViewAuthorizationManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAuthorizationManageServlet</servlet-name>
    <url-pattern>/authorization/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAuthorizationServlet</display-name>
    <servlet-name>ViewAllAuthorizationServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.ViewAllAuthorizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAuthorizationServlet</servlet-name>
    <url-pattern>/authorization/all</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.melon.admin.common.web.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoAuthorizationRegistActionServlet</display-name>
    <servlet-name>DoAuthorizationRegistActionServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.DoAuthorizationRegistActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAuthorizationRegistActionServlet</servlet-name>
    <url-pattern>/authorization/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAuthorizationDeleteServlet</display-name>
    <servlet-name>DoAuthorizationDeleteServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.DoAuthorizationDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAuthorizationDeleteServlet</servlet-name>
    <url-pattern>/authorization/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAuthorizationModifyServlet</display-name>
    <servlet-name>DoAuthorizationModifyServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.DoAuthorizationModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAuthorizationModifyServlet</servlet-name>
    <url-pattern>/authorization/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserListServlet</display-name>
    <servlet-name>ViewUserListServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.ViewUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserListServlet</servlet-name>
    <url-pattern>/user/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserDetailServlet</display-name>
    <servlet-name>ViewUserDetailServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.ViewUserDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserDetailServlet</servlet-name>
    <url-pattern>/user/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUserModifyActionServlet</display-name>
    <servlet-name>DoUserModifyActionServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.DoUserModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUserModifyActionServlet</servlet-name>
    <url-pattern>/user/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUserAuthModifyActionServlet</display-name>
    <servlet-name>DoUserAuthModifyActionServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.DoUserAuthModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUserAuthModifyActionServlet</servlet-name>
    <url-pattern>/user/authmodify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAuthCheckActionServlet</display-name>
    <servlet-name>DoAuthCheckActionServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.DoAuthCheckActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAuthCheckActionServlet</servlet-name>
    <url-pattern>/user/authcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLikeCountRankingServlet</display-name>
    <servlet-name>ViewLikeCountRankingServlet</servlet-name>
    <servlet-class>com.melon.admin.music.web.ViewLikeCountRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLikeCountRankingServlet</servlet-name>
    <url-pattern>/music/ranking</url-pattern>
  </servlet-mapping>
</web-app>