@CHARSET "UTF-8";

* {
	color: #333333;
}
div, input, td, th, span, a, p, textarea, li, button, dt, dl, dd, ul, ol,body{
	font-size:9pt;
}

#wrapper {
	width: 964px;
	overflow: hidden;
	margin: 0 auto; /* 남아있는 px을 반으로 나누어 양쪽으로 균등하게 분배 */
}

#nav {
	width: 100%;
	background-color: #cf3030;
	padding: 10px;
	padding-left:18px;
	margin-bottom: 3px;
	font-size: 9pt;
}

#nav > a { /* nav의 자식 element인 <a>태그에만 적용 */
	color: #ffffff;
	font-weight: bold;
	font-size: 11pt;
}

#content {
	width: 100%;
}

#content > a { /* content의 자식 element인 <a>태그에만 적용 */
	color: #333333;
	font-weight: bold;
	font-size: 11pt;
}

body {
	margin: 0px;
}

table {
	width :100% /* 현재 공간을 꽉 채운다. 
	border-collapse: collapse; /* border가 압축되어 사라짐 -> table에서 필수! */
}

th {
	text-align: center;
	font-weight: bold;
	background-color: #000000;
	color: #ffffff;
	padding: 6px;
	font-size: 9pt; /* web에서 가장 많이 쓰이는 pt */
}

td {
	padding: 6px;
	font-size: 9pt;
}